/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






nav {
    display: inline;
}


/*styles the font of the site, changes the background color of the site*/
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(83, 159, 88);
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    text-align: center;
    color: white;

}

.padding {
    padding: 0.5%; 
}

/*styles the main body of the site, adds margin and padding*/
.wrapper {
    width: 70%;
    background-color: rgb(148, 225, 165);
    margin:0 auto;
    border-top: 0;

}

/*adds padding, changes size of image and floats to left*/
#smallrock {
    width: 25%;
    float: left;
    padding: 0% 2% 0% 0%;
}


/*adds border and padding to question box*/
.box {
    border-style: solid;
    padding: 1.2%;
    border-width: thin;
}

.facts {
    padding: 0 0 3% 0;
    margin: 0 0 1% 0;
}

h1 {
    font-size: 350%;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

p {
    font-size: large;
    padding: 0 0 1% 0;
}

input [type=text] {
    display: block;
    width: 99%;
}

input [type=radio] {
    display: inline;
}

textarea {
    width: 100%;
    padding: 1%;
    margin: 0 0 2% 0;
    box-sizing: border-box;
    line-height: 25px;
}

/*adds padding, aligns copyright footer to right, bolds text*/
footer {
    padding: 2%;
    text-align: right;
    font-weight: bold;
}
