/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* ---------------------------------------
Beginning of CSS
------------------------------------------- */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

body {
    overflow-x: hidden;
}

header {
    background-color: #222;
    width: 100%;
} 

nav {
    margin: 0 15px;
}

.logo-background {
    background-color: #c78c06;
}

#home {
    color: #222;
    display: block;
    text-align: center;
    padding: 15px;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.pingpong {
    width: 95%;
    display: block;
    margin: auto;
    padding: 10px;
    max-width: 1100px; 

}

.navstyle {
    color: #c78c06;
    display: block;
    text-align: center;
    margin: 15px;
    padding: 15px;
}

ul, li {
    text-decoration: none;
    list-style-type: none;
    list-style: none;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 60px;
}

.aboutus {
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    padding: 25px 0px;
}

.box1 {
    background-color: rgba(35, 35, 35, 0.67);
    color: white;
    width: 100%;
    max-width: 1200px;
    padding: 5px;   
}

.connect {
    background-color: #c78c06;
    color: #222;
    margin: 10px;
    border: none;
    padding: 20px;
    font-size: 1.7rem;
}

p {
    line-height: 20px;
    padding: 10px;
}

table {
    table-layout: fixed;
}

table, th, td {
    border: 1px solid #222;
    border-collapse: collapse;
    padding: 10px;
    margin: auto;
    width: 90%;
}

th {
    background-color: #ffe6ac;
}

iframe {
    width: 95%;
    margin: auto;
    display: block;
}

input[type=text] {
    width: 80%;
    max-width: 1100px;
    margin: 20px;
    line-height: 20px;
    border: 1px solid #222;
}

.searchbar {
    border-radius: none;
    width: 100%;
    display: block;
    margin: auto;
}

.about {
    background-color: #ffe6ac;
    margin: auto;
}


.buttonstyle {
    background-color: #222;
    color: #c78c06;
    border: none;
    margin: 20px;
    font-size: 1.5rem;
}

.fa-search {
    color: #c78c06;
    border: 1px solid #c78c06;
    border-radius: none;
    background-color: #222;
    padding: 3px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a:hover {
    color: #222;
    background-color: #c78c06;
}

.copyright {
    color: #c78c06;
}

.credit {
    color: darkgoldenrod;
}

footer {
    background-color: #222;
}